anyio==3.6.1
asgiref==3.5.2
autopep8==1.6.0
boto3==1.24.0
botocore==1.27.0
CacheControl==0.12.11
cachetools==5.2.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
fastapi==0.78.0
firebase-admin==5.2.0
gcloud==0.17.0
google-api-core==2.8.1
google-api-python-client==2.49.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-cloud-core==2.3.0
google-cloud-firestore==2.5.2
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.2
grpcio==1.46.3
grpcio-status==1.46.3
gunicorn==20.1.0
h11==0.13.0
httplib2==0.20.4
idna==3.3
jmespath==1.0.0
jws==0.1.3
msgpack==1.0.3
oauth2client==3.0.0
proto-plus==1.20.5
protobuf==3.20.1
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycryptodome==3.4.3
pydantic==1.9.1
pyparsing==3.0.9
Pyrebase==3.0.27
python-dateutil==2.8.2
python-dotenv==0.20.0
python-jwt==2.0.1
python-multipart==0.0.5
random-id==1.0.1
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.8
s3transfer==0.6.0
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
toml==0.10.2
typing_extensions==4.2.0
uritemplate==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
